[submodule "_sass/vendor/normalize-scss"]
	path = _sass/vendor/normalize-scss
	url = https://github.com/JohnAlbin/normalize-scss.git
[submodule "_sass/vendor/skeleton-sass"]
	path = _sass/vendor/skeleton-sass
	url = https://github.com/atomicpages/skeleton-sass.git